/*
Changing these variables should work in every browser but IE.
IE doesn't recognize variables so you have to set them manually.
    E.g. search for attributes that use "--hour-height" and change the corresponding attributes that say "For IE".
global.js also sets some default values if it can't parse the CSS, so change those too.
*/
:root {
    --hour-height: 144px; /* Must be first, see global.js */
    --timeline-font-size: 12px; /* Must be second, see global.js */
    --timeline-width: 5em;
    --column-padding: 0.5em;
    --session-color: #dbfce7;
    --calendar-grid-color: #e4e4e4;
}

.app-container {
    padding: 2em;
}

.overflow-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sessions-container {
    position: relative;
}

.event-description {
    margin-bottom: 1em;
}

.event-day-selector {
    margin-bottom: 1em;
}

.room-names {
    display: flex;
    display: -ms-flexbox; /* For IE */
    justify-content: space-between;
    -ms-flex-pack: justify; /* For IE */
}

.room-schedules {
    display: flex;
    display: -ms-flexbox; /* For IE */
    justify-content: space-between;
    -ms-flex-pack: justify; /* For IE */
    height: 35em;
    overflow-y: scroll;
    overflow-x: hidden; /* For IE */
}

.room-name-column {
    flex-grow: 1;
    -ms-flex-positive: 1; /* For IE */
    flex-basis: 0;
    -ms-flex-preferred-size: 0; /* For IE */
    overflow: auto;
    padding: 0 0.5em; /* For IE */
    padding: 0 var(--column-padding);
    border-left: 1px solid #e4e4e4; /* For IE */
    border-left: 1px solid var(--calendar-grid-color);
}

.room-calendar-column {
    flex-grow: 1;
    -ms-flex-positive: 1; /* For IE */
    padding: 0 0.5em; /* For IE */
    padding: 0 var(--column-padding);
    border-left: 1px solid #e4e4e4; /* For IE */
    border-left: 1px solid var(--calendar-grid-color);
}

.room-selector {
    text-align: center;
    padding: 0.5em 0;
}

.room-name {
    height: 2em;
    margin: 0.5em 0;
    padding: 0.25em 0; /* vertical centering */
    text-align: center;
}

.timeline-placeholder {
    width: 5em; /* For IE */
    width: var(--timeline-width);
}

.vertically-centered-time-placeholder {
    height: 0.5em;
}

.timeline {
    width: 5em; /* For IE */
    width: var(--timeline-width);
    position: relative;
}

.time {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 12px; /* For IE */
    font-size: var(--timeline-font-size);
}

.hour-rule {
    border-color: #e4e4e4; /* For IE */
    border-color: var(--calendar-grid-color);
    position: absolute;
    left: calc(-1 * 0.5em); /* For IE */
    left: calc(-1 * var(--column-padding));
    width: calc(100% + 10em); /* For IE */
    width: calc(100% + 2 * var(--column-padding));
    margin: 0;
}

.session-card {
    border: 1px solid black;
    border-radius: 4px;
    position: absolute;
    width: 100%;
    padding: 0.5em;
    overflow-x: hidden;
    background: #dbfce7; /* For IE */
    background: var(--session-color);
}

.session-title-text {
    font-size: 12px;
}

.session-speaker-text {
    font-size: 10px;
}

.session-time-text {
    font-size: 10px;
}

.time-block-15 {
    height: 36px; /* For IE */
    height: calc(var(--hour-height) * 0.25);
}

.time-block-20 {
    height: 48px; /* For IE */
    height: calc(var(--hour-height) / 3);
}

.time-block-30 {
    height: 72px; /* For IE */
    height: calc(var(--hour-height) * 0.5)
}

.time-block-45 {
    height: 108px; /* For IE */
    height: calc(var(--hour-height) * 0.75);
}

.time-block-60 {
    height: 144px; /* For IE */
    height: var(--hour-height);
}

.time-block-90 {
    height: 216px; /* For IE */
    height: calc(var(--hour-height) * 1.5);
}

.time-block-120 {
    height: 288px; /* For IE */
    height: calc(var(--hour-height) * 2);
}

.time-block-150 {
    height: 360px; /* For IE */
    height: calc(var(--hour-height) * 2.5);
}

.time-block-180 {
    height: 432px; /* For IE */
    height: calc(var(--hour-height) * 3);
}

.time-block-570 {
    height: 1368px; /* For IE */
    height: calc(var(--hour-height) * 9.5);
}