:root {
    --hour-height: 6em;
}

.app-container {
    padding: 2em;
}

.overflow-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sessions-container {
    position: relative;
}

.event-description {
    margin-bottom: 1em;
}

.event-day-selector {
    margin-bottom: 1em;
}

.day-schedule-filters {
    margin-bottom: 0.5em;
}

.room-names {
    display: flex;
    justify-content: space-between;
}

.room-schedules {
    display: flex;
    justify-content: space-between;
    height: 30em;
    overflow-y: scroll;
}

.room-name-column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    overflow: auto;
    margin-right: 0.5em;
}

.room-calendar-column {
    flex-grow: 1;
    margin-right: 0.5em;
}

.room-name {
    height: 2em;
    margin-bottom: 0.5em;
}

.scrollbar {
    width: 1em;
}

.session-card {
    border: 1px solid black;
    position: absolute;
    width: 100%;
    padding: 0.5em;
    overflow: hidden;
}

.session-title-text {
    font-size: 12px;
}

.session-speaker-text {
    font-size: 10px;
}

.session-time-text {
    font-size: 10px;
}

.time-block-15 {
    height: calc(var(--hour-height) * 0.25);
}

.time-block-20 {
    height: calc(var(--hour-height) / 3);
}

.time-block-30 {
    height: calc(var(--hour-height) * 0.5)
}

.time-block-45 {
    height: calc(var(--hour-height) * 0.75);
}

.time-block-60 {
    height: var(--hour-height);
}

.time-block-90 {
    height: calc(var(--hour-height) * 1.5);
}

.time-block-120 {
    height: calc(var(--hour-height) * 2);
}

.time-block-150 {
    height: calc(var(--hour-height) * 2.5);
}

.time-block-180 {
    height: calc(var(--hour-height) * 3);
}

.time-block-570 {
    height: calc(var(--hour-height) * 9.5);
}